language: php

php:
  - 7.1
  - 7.2

cache:
  directories:
    - $HOME/.composer/cache

install:
  - composer install --no-interaction --no-progress

script:
  - composer validate --strict
  - vendor/bin/phpunit
