parameters:
    paths:
        - src
        - tests
    level: max
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - "#^Method GusApi\\\\Client\\\\GusApiClient\\:\\:call\\(\\) has no return type specified\\.$#"
includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
