parameters:
	ignoreErrors:
		-
			message: '#^Method GusApi\\Client\\GusApiClient\:\:getValue\(\) should return GusApi\\Type\\Response\\GetValueResponse but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/GusApi/Client/GusApiClient.php

		-
			message: '#^Method GusApi\\Client\\GusApiClient\:\:login\(\) should return GusApi\\Type\\Response\\LoginResponse but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/GusApi/Client/GusApiClient.php

		-
			message: '#^Method GusApi\\Client\\GusApiClient\:\:logout\(\) should return GusApi\\Type\\Response\\LogoutResponse but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/GusApi/Client/GusApiClient.php

		-
			message: '#^Method GusApi\\Client\\GusApiClient\:\:setHttpOptions\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/GusApi/Client/GusApiClient.php

		-
			message: '#^Parameter \#1 \$bulkReportResponseRaw of static method GusApi\\Util\\BulkReportResponseDecoder\:\:decode\(\) expects GusApi\\Type\\Response\\GetBulkReportResponseRaw, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/GusApi/Client/GusApiClient.php

		-
			message: '#^Parameter \#1 \$fullReportResponseRaw of static method GusApi\\Util\\FullReportResponseDecoder\:\:decode\(\) expects GusApi\\Type\\Response\\GetFullReportResponseRaw, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/GusApi/Client/GusApiClient.php

		-
			message: '#^Method SoapClient\:\:__doRequest\(\) invoked with 6 parameters, 4\-5 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/GusApi/Client/SoapClient.php

		-
			message: '#^Method GusApi\\Context\\Context\:\:getOptions\(\) should return array\<string, mixed\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/GusApi/Context/Context.php
