name: Static Analysis

on:
  push:
  pull_request:

jobs:
  composer:
    name: Composer validation
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        php: [ '8.0', '8.1', '8.2', '8.3' ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Execute composer validate
        run: composer validate --strict

  phpcs:
    name: PHPCs
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        php: [ '8.0', '8.1', '8.2', '8.3' ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Install Dependencies
        uses: nick-invision/retry@v1
        with:
          timeout_minutes: 5
          max_attempts: 5
          command: composer update --no-interaction --no-progress

      - name: Execute PHPCs
        run: vendor/bin/phpcs src tests

  phpstan:
    name: PHPStan
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        php: [ '8.0', '8.1', '8.2', '8.3' ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Install Dependencies
        uses: nick-invision/retry@v1
        with:
          timeout_minutes: 5
          max_attempts: 5
          command: composer update --no-interaction --no-progress

      - name: Execute PHPStan
        run: vendor/bin/phpstan --no-progress
